# --- PRIVACIDAD (Datos de la Empresa) ---
Tickets/
data/
~$*.xlsx
~$*.csv

# --- FRONTEND (React/Node) ---
frontend/node_modules/
# ELIMINAMOS package.json y package-lock.json de aquí. 
# ¡Deben ser rastreados!
frontend/build/
frontend/dist/

# --- BACKEND (Python) ---
venv/
__pycache__/
*.py[cod]
*.log

# --- OTROS ---
.vscode/
.idea/
*.env