# --- PRIVACIDAD (Datos de la Empresa) ---
Tickets/
data/
data/ventas.json
~$*.xlsx
~$*.csv
.env

# --- FRONTEND (React/Node) ---
frontend/node_modules/
# ELIMINAMOS package.json y package-lock.json de aquí. 
# ¡Deben ser rastreados!
frontend/build/
frontend/dist/
backend/build/

# --- BACKEND (Python) ---
venv/
__pycache__/
*.py[cod]
*.log

# --- OTROS ---
.vscode/
.idea/
*.env